@page "/admin"
@attribute [Authorize(Roles = "Admin, Sales, Accounting, Warehouse, Logistics")]

<h3>Chào mừng đến Trang Quản trị</h3>

<p>Đây là khu vực quản lý nội bộ.</p>

<div class="mt-4 d-grid gap-2 d-md-block">

    <AuthorizeView Roles="Admin">
        <a href="/admin/dashboard" class="btn btn-primary">Dashboard</a>
        <a href="/admin/products" class="btn btn-info">Quản lý Sản phẩm</a>
        <a href="/admin/users" class="btn btn-success">Quản lý Người dùng</a>
    </AuthorizeView>

    <AuthorizeView Roles="Admin, Sales, Accounting, Warehouse, Logistics">
        <a href="/admin/orders" class="btn btn-warning">Quản lý Đơn hàng</a>
    </AuthorizeView>
    <AuthorizeView Roles="Admin, Purchasing">
        <a href="/admin/suppliers" class="btn btn-dark">Quản lý Nhà cung cấp</a>
    </AuthorizeView>
    <AuthorizeView Roles="Admin, Purchasing, Warehouse">
        <a href="/admin/purchase-orders" class="btn btn-light border">Quản lý Đơn nhập hàng</a>
    </AuthorizeView>

</div>
