@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
 <div class="d-flex justify-content-between align-items-center" style="gap:7px">
  <a href="Identity/Account/Manage" class="nav-link p-0">Hello, @context.User.Identity?.Name!</a>
  <a href="logout" class="btn btn-link p-0">Log out</a>
</div>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
 
    private void BeginLogout()
    {
        Navigation.NavigateTo("logout");
    }
}