@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth-bar">
            <SearchForm />
            <LoginDisplay />
        </div>
        
        <!-- Bắt đầu Layout mới với Sidebar -->
        <div class="container-fluid mt-4">
            <div class="row">
                <!-- Thanh bên cho Danh mục -->
                <div class="col-lg-3">
                    <CategoryMenu />
                </div>

                <!-- Nội dung chính của trang -->
                <div class="col-lg-9">
                    <article class="content px-4">
                        @Body
                    </article>
                </div>
            </div>
        </div>

    </div>
</div>

